html{
    background-color: black;
}
h1{
    color: aliceblue;
    margin: 10px;
    font-family: 'Libre Baskerville', serif;
    
}
p{
    color: whitesmoke;
    margin: 0px;
    
    
}
img{
    border: 5px solid white;
    margin-top: 100px;
    width: 100%;
}
div{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}